{% extends "base.html" %}

{% block title %}Załóż konto{% endblock %}

{% block footer %}
   <script src="/js/hideShowPassword.min.js"></script>
   <script src="/js/app.js"></script>
   <script>
      $(document).ready(function(){
         $('#formSignup').validate({
            rules: {
               name: 'required',
               email: {
                  required: true,
                  email: true,
                  remote: '/account/validate-email'
               },
               password: {
                  required: true,
                  minlength: 6,
                  validPassword: true
               }
            },
            messages: {
               name: {
                  required: 'Podaj login',
               },
               email: {
                  required: 'Podaj adres email',
                  email: 'Nieprawid&lstrok;owy adres email',
                  remote: 'Adres email w u&zdot;yciu'
               },
               password: {
                  required: 'Podaj has&lstrok;o',
                  minlength: 'Has&lstrok;o musi si&eogon; sk&lstrok;ada&cacute; z conajmniej 6 znak&oacute;w',
                  validPassword: 'Has&lstrok;o musi zawiera&cacute; co najmniej jedn&aogon; liter&eogon; i jedn&aogon; cyfr&eogon;'
               }
            }
         });

         $('#inputPassword').hideShowPassword({
            show: false,
            innerToggle: 'focus'
         });
      });
   </script>
{% endblock %}

{% block body %}
   <h1 class="my-4">Za&lstrok;&oacute;&zdot; konto</h1>

   {% if user.errors is not empty %}
      <p>Błędy:</p>
      <ul>
         {% for error in user.errors %}
            <li class="warning">{{ error }}</li>
         {% endfor %}
      </ul>
   {% endif %}

   <form method="post" action="/Signup/create" id="formSignup" class="mt-3">
      <div class="form-group">
         <label for="inputName">Login</label>
         <input id="inputName" name="name" placeholder="Login" autofocus value="{{ user.name }}" required class="form-control"> 
      </div>
      <div class="form-group">
         <label for="inputEmail">Adres email</label>
         <input type="email" id="inputEmail" name="email" placeholder="Adres email" value="{{ user.email }}" required class="form-control"> 
      </div>
      <div class="form-group">
         <label for="inputPassword">Hasło</label>
         <input type="password" id="inputPassword" name="password" placeholder="Hasło" required class="form-control"> 
      </div>
      <button type="submit" class="btn btn-dark">Za&lstrok;&oacute;&zdot; konto</button>
      <a href="/login">Masz konto? Zaloguj si&eogon;.</a>
   </form>
{% endblock %}