{% extends "base.html" %}

{% block title %}Zapomniałem hasła{% endblock %}

{% block body %}
    <h1>Poproś o zmianę hasła</h1>
       
    <form method="post" action="/password/request-reset">
        <div class="form-group">
            <label for="inputEmail">Adres email</label>
            <input type="email" name="email" id="inputEmail" placeholder="Adres email" autofocus required class="form-control">
        </div>
        <button type="submit" class="btn btn-dark">Wyślij wiadomość do zmiany hasła</button>
    </form>
{% endblock %}