{% extends "base.html" %}

{% block title %}Zmiana hasła{% endblock %}

{% block footer %}
   <script src="/js/hideShowPassword.min.js"></script>
   <script src="/js/app.js"></script>
   <script>      
      $(document).ready(function(){
         $('#formPassword').validate({
            rules: {               
               password: {
                  required: true,
                  minlength: 6,
                  validPassword: true
               }
            },
            messages: {
               password: {
                  required: 'Podaj has&lstrok;o',
                  minlength: 'Has&lstrok;o musi si&eogon; sk&lstrok;ada&cacute; z conajmniej 6 znak&oacute;w',
                  validPassword: 'Has&lstrok;o musi zawiera&cacute; co najmniej jedn&aogon; liter&eogon; i jedn&aogon; cyfr&eogon;'
               }
            }
         });

         $('#inputPassword').hideShowPassword({
            show: false,
            innerToggle: 'focus'
         });
      });
   </script>
{% endblock %}

{% block body %}
   <h1>Zmiana hasła</h1>

   {% if user.errors is not empty %}
      <p>Błędy:</p>
      <ul>
         {% for error in user.errors %}
            <li class="warning">{{ error }}</li>
         {% endfor %}
      </ul>
   {% endif %}

   <form method="post" action="/password/reset-password" id="formPassword">
      <input type="hidden" name="token" value="{{ token }}">
      <div class="form-group">
         <label for="inputPassword">Hasło</label>
         <input type="password" id="inputPassword" name="password" placeholder="Hasło" required autofocus class="form-control"> 
      </div>
      <button type="submit" class="btn btn-dark">Zmień hasło</button>
   </form>
{% endblock %}