{% extends "base.html" %}

{% block title %}strona główna{% endblock %}

{% block body %}
    {% if current_user %}
        <h1 class="row mt-1">Witaj, {{ current_user.name }}!</h1>
        <h3 class="row">Aby kontynuowa&cacute; wybierz opcj&eogon; z menu na g&oacute;rze.</h3>
    {% else %}
        <h1 class="row mt-1">Witaj w najlepszej aplikacji finansowej!</h1>
        <p class="row text-justify mt-1 mr-1 ml-1">Jak dobrze zaplanować budżet domowy? Od czego zacząć? 
            Pierwszy krok to spisanie środków, którymi dysponuje w danym miesiącu gospodarstwo domowe. 
            Liczą się wszystkie pieniądze, zarówno te zarobione na umowie o pracę, jak i kwoty netto 
            wynagrodzeń z umów zlecenie i o dzieło. Kolejny krok do zaplanowania budżetu domowego to 
            spisanie wszystkich ponoszonych kosztów w skali miesiąca. Najlepiej jest je podzielić na koszty 
            tałe i wydatki jednorazowe. W przygotowaniu zestawienia mogą pomóc paragony z zeszłego miesiąca 
            oraz historia transakcji wykonywanych za pomocą karty płatniczej.</p>
        <p class="row">Chętnie pomożemy ci zadbać o własny budżet!</p>
        <p class="row"><a href="/signup/new">Zarejestruj się</a>&nbsp;lub jeśli masz konto&nbsp;<a href="/login">zaloguj się.</a></p>
    {% endif %}
{% endblock %}