{% extends "base.html" %}

{% block title %}Ustawienia{% endblock %}

{% block body %}
    <h1>Ustawienia konta</h1>
    <div class="accordion w-100" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Ustawienia kategorii wydatk&oacute;w
              </button>
            </h2>
          </div>      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="container">
                    {% for user_expense_category in user_expense_categories %}
                        <div class="row mb-1 d-flex justify-content-between">
                            <div>{{ user_expense_category.name }}</div><div>{% if user_expense_category.monthly_limit %}
                              Limit: {{ user_expense_category.monthly_limit }}{% endif %}</div>
                            <div>
                              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#editExpense_{{ user_expense_category.id }}">Edytuj</button> 
                              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteExpense_{{ user_expense_category.id }}">Usu&nacute;</button>
                            </div>
                        </div>
                    <div class="modal fade" id="editExpense_{{ user_expense_category.id }}" tabindex="-1" aria-labelledby="#editExpense_{{ user_expense_category.id }}" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="editExpenseLabel">Edytuj kategori&eogon; wydatku</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form action="/settings/{{ user_expense_category.id }}/editExpCat" method="post" id="formC{{ user_expense_category.id }}">
                              <table>
                                <tr>
                                    <td><label for="name">Nazwa:</label></td>
                                    <td><input name="name" id="name" class="form-control m-1" value="{{ user_expense_category.name }}" required></td>
                                </tr>
                                <tr>
                                    <td><label for="monthly_limit">Limit miesi&eogon;czny:</label></td>
                                    <td><input name="monthly_limit" type="number" id="monthly_limit" class="form-control m-1" step="0.01" min="0.01" 
                                      {% if user_expense_category.monthly_limit %}value="{{ user_expense_category.monthly_limit }}"{% endif %}></td>
                                </tr>
                            </table>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                            <button type="submit" class="btn btn-primary" form="formC{{ user_expense_category.id }}">Zapisz</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="deleteExpense_{{ user_expense_category.id }}" tabindex="-1" aria-labelledby="#deleteExpense_{{ user_expense_category.id }}" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="deleteExpenseLabel">Usu&sacute; kategori&eogon; wydatku</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <span>Czy na pewno chcesz usun&aogon;&cacute; kategori&eogon; {{ user_expense_category.name }}?</span>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                            <a href="/settings/{{ user_expense_category.id }}/deleteExpenseCat" class="btn btn-danger">Tak</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <div scope="row">
                      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addExpenseCategory">Dodaj now&aogon; kategori&eogon;</button>
                      <div class="modal fade" id="addExpenseCategory" tabindex="-1" aria-labelledby="#addExpenseCategory" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="addExpenseCategoryLabel">Dodaj kategori&eogon; wydatku</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form action="/settings/addExpenseCategory" method="post" id="addExpenseCategoryForm">
                                <table>
                                  <tr>
                                      <td><label for="name">Nazwa:</label></td>
                                      <td><input name="name" id="name" class="form-control m-1" required></td>
                                  </tr>
                                  <tr>
                                      <td><label for="monthly_limit">Limit miesi&eogon;czny:</label></td>
                                      <td><input name="monthly_limit" type="number" id="monthly_limit" class="form-control m-1" step="0.01" min="0.01"></td>
                                  </tr>
                              </table>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                              <button type="submit" class="btn btn-primary" form="addExpenseCategoryForm">Zapisz</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Ustawienia kategorii przychod&oacute;w
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <div class="container">
                {% for user_income_category in user_income_categories %}
                    <div class="row mb-1 d-flex justify-content-between">
                        <div>{{ user_income_category.name }}</div>
                        <div>{% if user_income_category.monthly_limit %}Limit: {{ user_income_category.monthly_limit }}{% endif %}</div>
                        <div>
                          <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#editIncome_{{ user_income_category.id }}">Edytuj</button>                           
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteIncome_{{ user_income_category.id }}">Usu&nacute;</button>
                        </div>                          
                    </div>
                <div class="modal fade" id="editIncome_{{ user_income_category.id }}" tabindex="-1" aria-labelledby="#editIncome_{{ user_income_category.id }}" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="editIncomeLabel">Edytuj kategori&eogon; przychodu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="/settings/{{ user_income_category.id }}/editIncCat" method="post" id="formI{{ user_income_category.id }}">
                          <table>
                            <tr>
                                <td><label for="name">Nazwa:</label></td>
                                <td><input name="name" id="name" class="form-control m-1" value="{{ user_income_category.name }}" required></td>
                            </tr>
                            <tr>
                                <td><label for="monthly_limit">Limit miesi&eogon;czny:</label></td>
                                <td><input name="monthly_limit" type="number" id="monthly_limit" class="form-control m-1" step="0.01" min="0.01" 
                                  {% if user_income_category.monthly_limit %}value="{{ user_income_category.monthly_limit }}"{% endif %}></td>
                            </tr>
                        </table>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                        <button type="submit" class="btn btn-primary" form="formI{{ user_income_category.id }}">Zapisz</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="deleteIncome_{{ user_income_category.id }}" tabindex="-1" aria-labelledby="#deleteIncome_{{ user_income_category.id }}" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteIncomeLabel">Usu&sacute; kategori&eogon; wydatku</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <span>Czy na pewno chcesz usun&aogon;&cacute; kategori&eogon; {{ user_income_category.name }}?</span>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                        <a href="/settings/{{ user_income_category.id }}/deleteIncomeCat" class="btn btn-danger">Tak</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <div scope="row">
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addIncomeCategory">Dodaj now&aogon; kategori&eogon;</button>
                    <div class="modal fade" id="addIncomeCategory" tabindex="-1" aria-labelledby="#addIncomeCategory" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="addIncomeCategoryLabel">Dodaj kategori&eogon; przychodu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form action="/settings/addIncomeCategory" method="post" id="addIncomeCategoryForm">
                              <table>
                                <tr>
                                    <td><label for="name">Nazwa:</label></td>
                                    <td><input name="name" id="name" class="form-control m-1" required></td>
                                </tr>
                                <tr>
                                    <td><label for="monthly_limit">Limit miesi&eogon;czny:</label></td>
                                    <td><input name="monthly_limit" type="number" id="monthly_limit" class="form-control m-1" step="0.01" min="0.01"></td>
                                </tr>
                            </table>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                            <button type="submit" class="btn btn-primary" form="addIncomeCategoryForm">Zapisz</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </table>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Ustawienia sposob&oacute;w p&lstrok;atno&sacute;ci
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <div class="container">
                {% for payment in payments %}
                    <div class="row mb-1 d-flex justify-content-between">
                        <div>{{ payment.name }}</div><div>{{ payment.monthly_limit }}</div>
                        <div>
                          <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#editPayment_{{ payment.id }}">Edytuj</button>
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletePayment_{{ payment.id }}">Usu&nacute;</button>
                        </div>
                    </div>
                <div class="modal fade" id="editPayment_{{ payment.id }}" tabindex="-1" aria-labelledby="#editPayment_{{ payment.id }}" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="editPaymentLabel">Edytuj spos&oacute;b p&lstrok;atno&sacute;ci</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="/settings/{{ payment.id }}/editPayMet" method="post" id="formP{{ payment.id }}">
                          <table>
                            <tr>
                                <td><label for="name">Nazwa:</label></td>
                                <td><input name="name" id="name" class="form-control m-1" value="{{ payment.name }}" required></td>
                            </tr>
                            <tr>
                                <td><label for="monthly_limit">Limit miesi&eogon;czny:</label></td>
                                <td><input name="monthly_limit" type="number" id="monthly_limit" class="form-control m-1" step="0.01" min="0.01" 
                                  {% if payment.monthly_limit %}value="{{ payment.monthly_limit }}"{% endif %}></td>
                            </tr>
                        </table>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                        <button type="submit" class="btn btn-primary" form="formP{{ payment.id }}">Zapisz</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="deletePayment_{{ payment.id }}" tabindex="-1" aria-labelledby="#deletePayment_{{ payment.id }}" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deletePaymentLabel">Usu&sacute; metod&eogon; p&lstrok;atno&sacute;ci</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <span>Czy na pewno chcesz usun&aogon;&cacute; metod&eogon; p&lstrok;atno&sacute;ci {{ payment.name }}?</span>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                        <a href="/settings/{{ payment.id }}/deletePaymentMet" class="btn btn-danger">Tak</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <div scope="row">
                  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addPaymentMethod">Dodaj nowy spos&oacute;b p&lstrok;atno&sacute;ci</button>
                  <div class="modal fade" id="addPaymentMethod" tabindex="-1" aria-labelledby="#addPaymentMethod" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="addPaymentMethodLabel">Dodaj nowy spos&oacute;b p&lstrok;atno&sacute;ci</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="/settings/addPaymentMethod" method="post" id="addPayment">
                            <table>
                              <tr>
                                  <td><label for="name">Nazwa:</label></td>
                                  <td><input name="name" id="name" class="form-control m-1" required></td>
                              </tr>
                              <tr>
                                  <td><label for="monthly_limit">Limit miesi&eogon;czny:</label></td>
                                  <td><input name="monthly_limit" type="number" id="monthly_limit" class="form-control m-1" step="0.01" min="0.01"></td>
                              </tr>
                          </table>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                          <button type="submit" class="btn btn-primary" form="addPayment">Zapisz</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Ustawienia konta
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                <div class="container">
                    <div class="row mb-1 d-flex justify-content-between">
                        <div>Adres e-mail</div><div>{{ user.email }}</div>
                        <div><button class="btn btn-dark">Zmie&nacute;</button></div>
                    </div>
                    <div class="row mb-1 d-flex justify-content-between">
                        <div>Has&lstrok;o</div><div>********</div>
                        <div><button class="btn btn-dark">Zmie&nacute;</button></div>
                    </div>
                    <div class="row mb-1">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteBalance">Usu&nacute; wszystkie wydatki i przychody</button><span> </span>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAccount">Usu&nacute; konto</button>
                        <div class="modal fade" id="deleteBalance" tabindex="-1" aria-labelledby="#deleteBalance" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="deleteBalanceLabel">Usu&nacute; wszystkie wydatki i przychody</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <span>Czy na pewno chcesz usun&aogon;&cacute; WSZYSTKIE wydatki i przychody?</span>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteBalanceConfirm">Tak</button>
                                <div class="modal fade" id="deleteBalanceConfirm" tabindex="-1" aria-labelledby="#deleteBalanceConfirm" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="deleteBalanceConfirmLabel">Aby kontynuowa&cacute; podaj dane logowania:</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <form action="/settings/deleteBalance" method="post" id="formDeleteBalance">
                                          <table>
                                            <tr>
                                              <td><label for="email">Adres email:</label></td>
                                              <td><input name="email" type="email" id="email" class="form-control m-1" required></td>
                                            </tr>
                                            <tr>
                                                <td><label for="password">Has&lstrok;o:</label></td>
                                                <td><input name="password" type="password" id="password" class="form-control m-1" required></td>
                                            </tr>
                                        </table>
                                        </form>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                                        <button type="submit" class="btn btn-primary" form="formDeleteBalance">Potwierd&zacute;</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal fade" id="deleteAccount" tabindex="-1" aria-labelledby="#deleteAccount" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="deleteAccountLabel">Usu&nacute; konto</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <span>Czy na pewno chcesz usun&aogon;&cacute; swoje konto?</span>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAccountConfirm">Tak</button>
                                <div class="modal fade" id="deleteAccountConfirm" tabindex="-1" aria-labelledby="#deleteAccountConfirm" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="deleteAccountConfirmLabel">Aby kontynuowa&cacute; podaj dane logowania:</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <form action="/settings/deleteAccount" method="post" id="formdeleteAccount">
                                          <table>
                                            <tr>
                                              <td><label for="email">Adres email:</label></td>
                                              <td><input name="email" type="email" id="email" class="form-control m-1" required></td>
                                            </tr>
                                            <tr>
                                                <td><label for="password">Has&lstrok;o:</label></td>
                                                <td><input name="password" type="password" id="password" class="form-control m-1" required></td>
                                            </tr>
                                        </table>
                                        </form>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                                        <button type="submit" class="btn btn-primary" form="formdeleteAccount">Potwierd&zacute;</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
{% endblock %}
{% block footer %}
    <script src="/js/app.js"></script>
{% endblock %}