{% extends "base.html" %}

{% block title %}Dodaj wydatek{% endblock %}

{% block body %}
    <H2 class="my-4">Dodaj wydatek:</H2>
    <form action="/Items/addExpense" method="post">
        <table>
            <tr>
                <td><label for="amount">Kwota:</label></td>
                <td><input name="amount" type="number" id="amount" class="form-control m-1" required step="0.01" min="0.01"></td>
            </tr>
            <tr>
                <td><label for="date">Data:</label></td>
                <td><input name="date" type="date" id="date" class="form-control m-1" required value="{{ todays_date }}" min="{{ min_date }}" max="{{ max_date }}"></td>
            </tr>
            <tr>
                <td><label for="category">Kategoria:</label></td>
                <td><select name="category" id="category" class="form-control m-1" required>
                        {% for user_expense in user_expenses %}
    
                        <option>{{ user_expense.name }}</option>
            
                        {% endfor %}
                        <option>Inne</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="payment">Spos&oacute;b p&lstrok;atno&sacute;ci:</label></td>
                <td><select name="payment" id="payment" class="form-control m-1" required>
                        {% for payment in payments %}
    
                        <option>{{ payment.name }}</option>
            
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="comment">Komentarz <i style="color: gray;">(opcjonalnie)</i>:</label></td>
                <td><textarea name="comment" id="comment" cols="30" rows="3" class="form-control m-1"></textarea></td>
            </tr>
        </table>
        <div class="d-flex flex-row justify-content-center align-items-center mt-3">
            <button type="submit" class="btn btn-dark">Zatwierd&zacute;</button>
            <a href="/" class="ml-3">Anuluj</a>
        </div>
    </form>
{% endblock %}

{% block footer %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        const getUserExpenseLimits = async () => {
            try {
            const expenseLimits = await axios.get("/ApiControls/getExpenseLimits");
            
            return expenseLimits.data;
            } catch (e) {
            console.log("Error: ", e);
            }
        };

        const getUserPaymentLimits = async () => {
            try {
            const paymentLimits = await axios.get("/ApiControls/getPaymentLimits");
            
            return paymentLimits.data;
            } catch (e) {
            console.log("Error: ", e);
            }
        };

        const getUserExpenses = async (date) => {
            try {
            const expenses = await axios.get(`/ApiControls/${date}/getExpenseSums`);
            
            return expenses.data;
            } catch (e) {
            console.log("Error: ", e);
            }
        };

        const getUserPayments = async (date) => {
            try {
            const payments = await axios.get(`/ApiControls/${date}/getPaymentSums`);
            
            return payments.data;
            } catch (e) {
            console.log("Error: ", e);
            }
        };


        let expenseLimits = [];
        getUserExpenseLimits().then((data) => {
            expenseLimits = data;
        }).catch((error) => {
            console.log("Error: ", error);
        });

        let paymentLimits = [];
        getUserPaymentLimits().then((data) => {
            paymentLimits = data;
        }).catch((error) => {
            console.log("Error: ", error);
        });

        const formAmount = document.querySelector('#amount');
        const formDate = document.querySelector('#date');
        const formCategory = document.querySelector('#category');
        const formPayment = document.querySelector('#payment');

        // Funkcja do sprawdzania limitu i wyświetlania komunikatów
        const checkExpenseLimit = (amount, date, category, payment) => {
            const formattedDate = formatDate(date); // Formatuj datę do "YYYY-MM-DD"

            // Znajdź limit dla wybranej kategorii i płatności
            const expenseLimit = expenseLimits.find((limit) => limit.name === category);
            const paymentLimit = paymentLimits.find((limit) => limit.name === payment);

            if (expenseLimit.monthly_limit === null && paymentLimit.monthly_limit == null) {
                console.log('Brak limitów dla wybranej kategorii i płatności');
                return;
            }

            // Sprawdzanie limitu dla kategorii, jeśli istnieje
            if (expenseLimit.monthly_limit !== null) {
                // Pobierz sumy dotychczasowych wydatków dla danej daty i kategorii
                getUserExpenses(formattedDate).then((expenses) => {
                        // Oblicz sumę wydatków dla wybranej kategorii
                        const expenseSum = expenses.find((expense) => expense.category === category)?.sum || 0;

                        // Sprawdź czy podana kwota zsumowana z dotychczasowymi wydatkami/płatnościami przekracza limity
                        const totalExpenseSum = Number(expenseSum) + Number(amount);

                        // Wyświetl komunikaty dla kategorii i płatności
                        if (totalExpenseSum > expenseLimit.monthly_limit) {
                            console.log('Kwota przekracza limit dla kategorii', category);
                        // Dodaj odpowiednią klasę CSS dla pola formularza (np. zmień kolor na czerwony)
                        } else if (totalExpenseSum === expenseLimit.monthly_limit) {
                            console.log('Kwota jest równa limitowi dla kategorii', category);
                        // Dodaj odpowiednią klasę CSS dla pola formularza (np. zmień kolor na pomarańczowy)
                        } else {
                            console.log('Kwota mieści się w limicie dla kategorii', category);
                        // Dodaj odpowiednią klasę CSS dla pola formularza (np. zmień kolor na zielony)
                        }
                }).catch((error) => {
                    console.log("Error while fetching expenses:", error);
                });
            }

            // Sprawdzanie limitu dla płatności, jeśli istnieje
            if (paymentLimit.monthly_limit !== null) {
                // Pobierz sumy dotychczasowych płatności dla danej daty i kategorii
                getUserPayments(formattedDate).then((payments) => {
                        // Oblicz sumę wydatków dla wybranej kategorii
                        const paymentSum = payments.find((payments) => payments.payment === payment)?.sum || 0;

                        // Sprawdź czy podana kwota zsumowana z dotychczasowymi wydatkami/płatnościami przekracza limity
                        const totalPaymentSum = Number(paymentSum) + Number(amount);

                        // Wyświetl komunikaty dla kategorii i płatności
                        if (totalPaymentSum > paymentLimit.monthly_limit) {
                            console.log('Kwota przekracza limit dla kategorii', payment);
                        // Dodaj odpowiednią klasę CSS dla pola formularza (np. zmień kolor na czerwony)
                        } else if (totalPaymentSum === paymentLimit.monthly_limit) {
                            console.log('Kwota jest równa limitowi dla kategorii', payment);
                        // Dodaj odpowiednią klasę CSS dla pola formularza (np. zmień kolor na pomarańczowy)
                        } else {
                            console.log('Kwota mieści się w limicie dla kategorii', payment);
                        // Dodaj odpowiednią klasę CSS dla pola formularza (np. zmień kolor na zielony)
                        }
                }).catch((error) => {
                    console.log("Error while fetching payments:", error);
                });
            }
        };
        

        // Nasłuchiwacz zdarzeń dla pola amount
        formAmount.addEventListener('change', () => {
            const amount = formAmount.value;
            const date = formDate.value;
            const category = formCategory.value;
            const payment = formPayment.value;
            checkExpenseLimit(amount, date, category, payment);
        });

        // Nasłuchiwacz zdarzeń dla pola date
        formDate.addEventListener('change', () => {
            const amount = formAmount.value;
            const date = formDate.value;
            const category = formCategory.value;
            const payment = formPayment.value;
            checkExpenseLimit(amount, date, category, payment);
        });

        // Nasłuchiwacz zdarzeń dla pola category
        formCategory.addEventListener('change', () => {
            const amount = formAmount.value;
            const date = formDate.value;
            const category = formCategory.value;
            const payment = formPayment.value;
            checkExpenseLimit(amount, date, category, payment);
        });

        // Nasłuchiwacz zdarzeń dla pola payment
        formPayment.addEventListener('change', () => {
            const amount = formAmount.value;
            const date = formDate.value;
            const category = formCategory.value;
            const payment = formPayment.value;
            checkExpenseLimit(amount, date, category, payment);
        });

        // Formatuj datę do "YYYY-MM-DD"
        const formatDate = (dateString) => {
            const dateObj = new Date(dateString);
            const year = dateObj.getFullYear();
            const month = String(dateObj.getMonth() + 1).padStart(2, '0');
            const day = String(dateObj.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
        };

    </script>
{% endblock %}