{% extends "base.html" %}

{% block title %}Dodaj wydatek{% endblock %}

{% block body %}
    <H2 class="my-4">Dodaj wydatek:</H2>
    <form action="/Items/addExpense" method="post">
        <table>
            <tr>
                <td><label for="amount">Kwota:</label></td>
                <td><input name="amount" type="number" id="amount" class="form-control m-1" required step="0.01" min="0.01"></td>
            </tr>
            <tr>
                <td><label for="date">Data:</label></td>
                <td><input name="date" type="date" id="date" class="form-control m-1" required value="{{ todays_date }}" min="{{ min_date }}" max="{{ max_date }}"></td>
            </tr>
            <tr>
                <td><label for="category">Kategoria:</label></td>
                <td><select name="category" id="category" class="form-control m-1" required>
                        {% for user_expense in user_expenses %}
    
                        <option>{{ user_expense.name }}</option>
            
                        {% endfor %}
                        <option>Inne</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="payment">Spos&oacute;b p&lstrok;atno&sacute;ci:</label></td>
                <td><select name="payment" id="payment" class="form-control m-1" required>
                        {% for payment in payments %}
    
                        <option>{{ payment.name }}</option>
            
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="comment">Komentarz <i style="color: gray;">(opcjonalnie)</i>:</label></td>
                <td><textarea name="comment" id="comment" cols="30" rows="3" class="form-control m-1"></textarea></td>
            </tr>
        </table>
        <div class="d-flex flex-row justify-content-center align-items-center mt-3">
            <button type="submit" class="btn btn-dark">Zatwierd&zacute;</button>
            <a href="/" class="ml-3">Anuluj</a>
        </div>
    </form>
{% endblock %}

{% block footer %}
   <script src="/js/api.js"></script>
{% endblock %}