{% extends "base.html" %}

{% block title %}Dodaj wydatek{% endblock %}

{% block body %}
    <H2 class="my-4">Dodaj wydatek:</H2>
    <form action="/Items/addExpense" method="post">
        <table>
            <tr>
                <td><label for="amount">Kwota:</label></td>
                <td><input name="amount" type="number" id="amount" class="form-control m-1" required step="0.01" min="0.01"></td>
            </tr>
            <tr>
                <td><label for="date">Data:</label></td>
                <td><input name="date" type="date" id="date" class="form-control m-1" required value="{{ todays_date }}" min="{{ min_date }}" max="{{ max_date }}"></td>
            </tr>
            <tr>
                <td><label for="category">Kategoria:</label></td>
                <td><select name="category" id="category" class="form-control m-1" required>
                        {% for user_expense in user_expenses %}
    
                        <option>{{ user_expense.name }}</option>
            
                        {% endfor %}
                        <option>Inne</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="payment">Spos&oacute;b p&lstrok;atno&sacute;ci:</label></td>
                <td><select name="payment" id="payment" class="form-control m-1" required>
                        {% for payment in payments %}
    
                        <option>{{ payment.name }}</option>
            
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="comment">Komentarz <i style="color: gray;">(opcjonalnie)</i>:</label></td>
                <td><textarea name="comment" id="comment" cols="30" rows="3" class="form-control m-1"></textarea></td>
            </tr>
        </table>
        <div class="alert d-none" role="alert" id="alert-expense">

        </div>
        <div class="alert d-none" role="alert" id="alert-payment">

        </div>
        <div class="d-flex flex-row justify-content-center align-items-center mt-3">
            <button type="submit" class="btn btn-dark">Zatwierd&zacute;</button>
            <a href="/" class="ml-3">Anuluj</a>
        </div>
    </form>
{% endblock %}

{% block footer %}
    <script type="text/javascript">
        const getUserExpenseLimits = async () => {
            try {
                const expenseLimits = await fetch('/ApiControls/getExpenseLimits');
                return expenseLimits.json();
            } catch (error) {
                console.log('Error:', error);
            }
        };

        const getUserPaymentLimits = async () => {
            try {
                const paymentLimits = await fetch('/ApiControls/getPaymentLimits');
                return paymentLimits.json();
            } catch (error) {
                console.log('Error:', error);
            }
        };

        const getUserExpenses = async (date) => {
            try {
                const expenses = await fetch(`/ApiControls/${date}/getExpenseSums`);
                return expenses.json();
            } catch (error) {
                console.log('Error:', error);
            }
        };

        const getUserPayments = async (date) => {
            try {
                const payments = await fetch(`/ApiControls/${date}/getPaymentSums`);
                return payments.json();
            } catch (error) {
                console.log('Error:', error);
            }
        };

        let expenseLimits = [];
        getUserExpenseLimits()
            .then((data) => {
                expenseLimits = data;
            })
            .catch((error) => {
                console.log('Error:', error);
        });

        let paymentLimits = [];
        getUserPaymentLimits()
            .then((data) => {
                paymentLimits = data;
            })
            .catch((error) => {
                console.log('Error:', error);
        });

        const formAmount = document.querySelector('#amount');
        const formDate = document.querySelector('#date');
        const formCategory = document.querySelector('#category');
        const formPayment = document.querySelector('#payment');

        const checkExpenseLimit = (amount, date, category, payment) => {
            hideAlert('alert-expense');
            hideAlert('alert-payment');

            const formattedDate = formatDate(date);

            const expenseLimit = expenseLimits.find((limit) => limit.name === category);
            const paymentLimit = paymentLimits.find((limit) => limit.name === payment);

            if (expenseLimit.monthly_limit === null && paymentLimit.monthly_limit === null) {
                console.log('Brak limitów dla wybranej kategorii i płatności');
                return;
            }

            if (expenseLimit.monthly_limit !== null) {
                getUserExpenses(formattedDate)
                    .then((expenses) => {
                        const expenseSum = expenses.find((expense) => expense.category === category)?.['SUM(amount)'] || 0;

                        const totalExpenseSum = Number(expenseSum) + Number(amount);

                        if (totalExpenseSum > expenseLimit.monthly_limit) {
                        const diff = totalExpenseSum - expenseLimit.monthly_limit;
                        showAlert('alert-danger', 'alert-expense', diff);
                        } else if (totalExpenseSum == expenseLimit.monthly_limit) {
                        showAlert('alert-warning', 'alert-expense', null);
                        } else {
                        showAlert('alert-success', 'alert-expense', null);
                        }
                    })
                    .catch((error) => {
                        console.log('Error while fetching expenses:', error);
                });
            }

            if (paymentLimit.monthly_limit !== null) {
                getUserPayments(formattedDate)
                    .then((payments) => {
                        const paymentSum = payments.find((payment) => payment.payment === payment)?.['SUM(amount)'] || 0;

                        const totalPaymentSum = Number(paymentSum) + Number(amount);

                        if (totalPaymentSum > paymentLimit.monthly_limit) {
                        const diff = totalPaymentSum - paymentLimit.monthly_limit;
                        showAlert('alert-danger', 'alert-payment', diff);
                        } else if (totalPaymentSum == paymentLimit.monthly_limit) {
                        showAlert('alert-warning', 'alert-payment', null);
                        } else {
                        showAlert('alert-success', 'alert-payment', null);
                        }
                    })
                    .catch((error) => {
                        console.log('Error while fetching payments:', error);
                });
            }
        };

        formAmount.addEventListener('change', () => {
            const amount = formAmount.value;
            const date = formDate.value;
            const category = formCategory.value;
            const payment = formPayment.value;
            checkExpenseLimit(amount, date, category, payment);
        });

        formDate.addEventListener('change', () => {
            const amount = formAmount.value;
            const date = formDate.value;
            const category = formCategory.value;
            const payment = formPayment.value;
            checkExpenseLimit(amount, date, category, payment);
        });

        formCategory.addEventListener('change', () => {
            const amount = formAmount.value;
            const date = formDate.value;
            const category = formCategory.value;
            const payment = formPayment.value;
            checkExpenseLimit(amount, date, category, payment);
        });

        formPayment.addEventListener('change', () => {
            const amount = formAmount.value;
            const date = formDate.value;
            const category = formCategory.value;
            const payment = formPayment.value;
            checkExpenseLimit(amount, date, category, payment);
        });

        const formatDate = (dateString) => {
            const dateObj = new Date(dateString);
            const year = dateObj.getFullYear();
            const month = String(dateObj.getMonth() + 1).padStart(2, '0');
            const day = String(dateObj.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
        };

        function showAlert(type, id, amount) {
            const alertElement = document.getElementById(id);

            alertElement.classList.remove('alert-danger', 'alert-warning', 'alert-success');

            if (id === 'alert-expense') {
                if (type === 'alert-danger') {
                alertElement.classList.add('alert-danger');
                alertElement.textContent = 'Kwota przekracza limit dla kategorii o: ' + amount;
                } else if (type === 'alert-warning') {
                alertElement.classList.add('alert-warning');
                alertElement.textContent = 'Kwota zrównuje się limitowi dla kategorii';
                } else if (type === 'alert-success') {
                alertElement.classList.add('alert-success');
                alertElement.textContent = 'Kwota mieści się w limicie dla kategorii';
                }
            } else {
                if (type === 'alert-danger') {
                alertElement.classList.add('alert-danger');
                alertElement.textContent = 'Kwota przekracza limit dla sposobu płatności o: ' + amount;
                } else if (type === 'alert-warning') {
                alertElement.classList.add('alert-warning');
                alertElement.textContent = 'Kwota zrównuje się limitowi dla sposobu płatności';
                } else if (type === 'alert-success') {
                alertElement.classList.add('alert-success');
                alertElement.textContent = 'Kwota mieści się w limicie dla sposobu płatności';
                }
            }

            alertElement.classList.remove('d-none');
        }

        function hideAlert(id) {
            const alertElement = document.getElementById(id);

            alertElement.classList.add('d-none');
        }

    </script>
{% endblock %}